.chat-message {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px;
}
.charM-userN-text {
  display: flex;
  align-items: center;
}
.charM-userN-text {
  font-size: 14px;
}
.chat-message-separator {
  color: var(--secondary-color);
  font-weight: bold;
  margin: 0 2px 0 2px;
}
